# .NET
bin/
obj/
TestResults/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
frontend/android/key.properties
frontend/android/*.jks
frontend/android/*.keystore

# IDE
.idea/
*.iml

# OS
.DS_Store
