#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"
ADMOB_APP_ID=ca-app-pub-2115638398802394~7914746084
DART_DEFINES=TEVYSUxJTktfQVBJX0JBU0VfVVJMPWh0dHBzOi8vYXBpLndvcmRsb3BlLmNvbQ==,TEVYSUxJTktfRU5BQkxFX0FEUz10cnVl,TEVYSUxJTktfRU5BQkxFX1JFV0FSREVEX0FEUz1mYWxzZQ==,QURNT0JfSU5URVJTVElUSUFMX0FEX1VOSVRfSUQ9Y2EtYXBwLXB1Yi0yMTE1NjM4Mzk4ODAyMzk0LzQ1MTYzODA5NTA=
